/* 
    Document   : default.css
    Created on : 16/05/2013, 16:06:02
    Author     : Eloir
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

html {
    background: none repeat scroll 0 0 #EEEEEE;
}
body {
    font-family: "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #333333;
    margin: 0;
}


.block {
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 16px 16px 16px 16px;
    margin-bottom: 20px;
    padding: 40px 50px;
    margin-top: 0px;
}


#content {
    margin: 0 auto;
    width: 970px;
}